openapi: 3.0.0
info:
  title: RatGTEx REST API
  version: "4.0.0"
  description: This API provides data for the visualizations in the RatGTEx data portal. This version (v4) provides data for RatGTEx data release v4, which uses the GRCr8 genome assembly.
  contact:
    name: Daniel Munro
    x-role: responsible developer
    email: danbmunro@gmail.com
    url: https://danmun.ro
    x-id: https://danmun.ro
servers:
  - url: https://ratgtex.org/api/v4
    description: RatGTEx data portal
tags:
  - name: reference
    description: Information on tissues, genes, and variants
  - name: expression
    description: Gene expression data
  - name: xQTL
    description: Data on RNA phenotype-variant associations
paths:
  /dyneqtl:
    get:
      tags:
        - xQTL
      summary: Dynamic eQTL for one gene-variant pair
      description: Fetch information for one gene-variant pair in one tissue
      parameters:
        - name: geneId
          in: query
          description: Gene ID
          required: true
          schema:
            type: string
            example: Cd300lf
        - name: tissueSiteDetailId
          in: query
          description: Tissue ID
          required: true
          schema:
            type: string
            example: IL
        - name: variantId
          in: query
          description: Variant ID
          required: true
          schema:
            type: string
            example: chr10:100826333
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  alt:
                    type: string
                    example: T
                  data:
                    type: array
                    items:
                      type: number
                    example: [2.2338, 3.78302, 3.71887, 3.05015, 2.46061]
                  geneId:
                    type: string
                    example: Cd300lf
                  genotypes:
                    type: array
                    items:
                      type: integer
                    example: [1, 1, null, 1, 0]
                  hetCount:
                    type: integer
                    example: 35
                  homoAltCount:
                    type: integer
                    example: 16
                  homoRefCount:
                    type: integer
                    example: 27
                  maf:
                    type: number
                    example: 0.42948717948717946
                  pValue:
                    type: number
                    example: 8.43005e-08
                  pValueThreshold:
                    type: number
                    example: 0.00172939
                  ref:
                    type: string
                    example: C
                  tissueSiteDetailId:
                    type: string
                    example: IL
                  variantId:
                    type: string
                    example: chr10:100826333
  /eqtl:
    get:
      tags:
        - xQTL
      summary: Conditionally independent cis-eQTLs by gene
      description: Fetch conditionally independent cis-eQTLs in any tissue for a gene
      parameters:
        - name: geneId
          in: query
          description: Gene ID
          required: true
          schema:
            type: string
            example: Cd300lf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  eqtl:
                    type: array
                    items:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: T
                        geneId:
                          type: string
                          example: Cd300lf
                        log2aFC:
                          type: number
                          example: 0.65925
                        pValueBeta:
                          type: number
                          example: 8.05017e-06
                        ref:
                          type: string
                          example: C
                        tissueSiteDetailId:
                          type: string
                          example: IL
                        variantId:
                          type: string
                          example: chr10:100826333
  /exon:
    get:
      tags:
        - reference
      summary: Exon annotations for a gene
      description: Fetch a gene's exons
      parameters:
        - name: geneId
          in: query
          description: Gene ID
          required: true
          schema:
            type: string
            example: Cd300lf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  exon:
                    type: array
                    items:
                      type: object
                      properties:
                        chromosome:
                          type: string
                          example: chr1
                        end:
                          type: integer
                          example: 100875111
                        exonId:
                          type: string
                          example: Cd300lf_1
                        exonNumber:
                          type: integer
                          example: 1
                        featureType:
                          type: string
                          example: exon
                        geneId:
                          type: string
                          example: Cd300lf
                        start:
                          type: integer
                          example: 100874927
                        strand:
                          type: string
                          enum: ["-", "+"]
                          example: "-"
                        transcriptId:
                          type: string
                          example: Cd300lf
  /gene:
    get:
      tags:
        - reference
      summary: Metadata for one or more genes
      description: Fetch metadata for one or more genes
      parameters:
        - name: geneId
          in: query
          description: One or more gene IDs
          required: true
          schema:
            type: array
            items:
              type: string
            example: [Cd300lf, Eno1]
          style: form
          explode: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  gene:
                    type: array
                    items:
                      type: object
                      properties:
                        chromosome:
                          type: string
                          example: chr10
                        description:
                          type: string
                          example: Cd300 molecule-like family member F
                        end:
                          type: integer
                          example: 100875111
                        geneId:
                          type: string
                          example: Cd300lf
                        hasEqtl:
                          type: boolean
                          example: true
                        start:
                          type: string
                          example: 100858924
                        statusInTissue:
                          type: array
                          items:
                            type: object
                            properties:
                              eqtl:
                                type: boolean
                                example: true
                              expressed:
                                type: boolean
                                example: true
                              testedEqtl:
                                type: boolean
                                example: true
                              tissueSiteDetailId:
                                type: string
                                example: IL
                        strand:
                          type: string
                          example: "-"
                        tss:
                          type: integer
                          example: 100875111
  /geneExpression:
    get:
      tags:
        - expression
      summary: Per-sample expression for a gene across tissues
      description: Fetch per-sample expression (TPM) for a gene across all tissues
      parameters:
        - name: geneId
          in: query
          description: Gene ID
          required: true
          schema:
            type: string
            example: Cd300lf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  geneExpression:
                    type: array
                    items:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            type: number
                          example: [3.33544, 2.679, 4.03568, 2.18627]
                        datasetId:
                          type: string
                          example: ratgtex_v4
                        geneId:
                          type: string
                          example: Cd300lf
                        geneSymbol:
                          type: string
                          example: Cd300lf
                        tissueSiteDetailId:
                          type: string
                          example: IL
                        unit:
                          type: string
                          enum: [TPM]
                          example: TPM
  /medianGeneExpression:
    get:
      tags:
        - expression
      summary: Median expression for genes in selected tissues
      description: Fetch median expression (TPM) for one or more genes in one or more tissues
      parameters:
        - name: geneId
          in: query
          description: One or more gene IDs.
          required: true
          schema:
            type: array
            items:
              type: string
            example: [Polr3k, Rtel1, Eno1]
          style: form
          explode: false
        - name: tissueSiteDetailId
          in: query
          description: One or more tissue IDs. If omitted, all tissues are included.
          required: false
          schema:
            type: array
            items:
              type: string
            example: [IL, LHb, NAcc]
          style: form
          explode: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  clusters:
                    type: object
                    properties:
                      gene:
                        type: string
                        example: "((Rtel1:233.244,Polr3k:233.244):1054.57,Eno1:1287.81);"
                      tissue:
                        type: string
                        example: "((IL:12.7061,LHb:12.7061):291.773,NAcc:304.479);"
                  medianGeneExpression:
                    type: array
                    items:
                      type: object
                      properties:
                        geneId:
                          type: string
                          example: Rtel1
                        median:
                          type: number
                          example: 22.957
                        tissueSiteDetailId:
                          type: string
                          example: IL
  /singleTissueEqtl:
    get:
      tags:
        - xQTL
      summary: Significant single-tissue cis-variants for a gene
      description: Fetch all significant cis-variants in all tissues for a gene
      parameters:
        - name: geneId
          in: query
          description: Gene ID
          required: true
          schema:
            type: string
            example: Cd300lf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  singleTissueEqtl:
                    type: array
                    items:
                      type: object
                      properties:
                        chromosome:
                          type: string
                          example: chr10
                        geneId:
                          type: string
                          example: Cd300lf
                        nes:
                          type: number
                          example: 0.592446
                        pValue:
                          type: number
                          example: 2.111e-10
                        pos:
                          type: integer
                          example: 99876736
                        tissueSiteDetailId:
                          type: string
                          example: BLA
                        variantId:
                          type: string
                          example: chr10:99876736
  /tissueInfo:
    get:
      tags:
        - reference
      summary: Metadata for all tissues
      description: Fetch metadata for all tissues
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  tissueInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        colorHex:
                          type: string
                          example: 377eb8
                        colorRgb:
                          type: string
                          example: "55,126,184"
                        dataset:
                          type: string
                          example: ratgtex_v4_round11_1
                        datasetId:
                          type: string
                          example: ratgtex_v4
                        eGeneCount:
                          type: integer
                          example: 5475
                        expressedGeneCount:
                          type: integer
                          example: 24107
                        hasEgenes:
                          type: boolean
                          example: true
                        rnaSeqAndGenotypeSampleCount:
                          type: integer
                          example: 83
                        rnaSeqSampleCount:
                          type: integer
                          example: 83
                        tissueSite:
                          type: string
                          example: Brain
                        tissueSiteDetail:
                          type: string
                          example: Infralimbic cortex
                        tissueSiteDetailAbbr:
                          type: string
                          example: IL
                        tissueSiteDetailId:
                          type: string
                          example: IL
  /topExpressedGene:
    get:
      tags:
        - expression
      summary: Top 50 genes by median expression in a tissue
      description: Fetch 50 genes with highest median expression in a tissue
      parameters:
        - name: filterMtGene
          in: query
          description: Whether mitochondrial genes should be omitted from the top gene list
          required: false
          schema:
            type: boolean
            example: true
        - name: tissueSiteDetailId
          in: query
          description: Tissue ID
          required: true
          schema:
            type: string
            example: IL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  topExpressedGene:
                    type: array
                    items:
                      type: object
                      properties:
                        chromosome:
                          type: string
                          example: chr11
                        datasetId:
                          type: string
                          example: ratgtex_v4
                        geneId:
                          type: string
                          example: LOC120093067
                        median:
                          type: number
                          example: 7700.68
                        tissueSiteDetailId:
                          type: string
                          example: IL
                        unit:
                          type: string
                          enum: [TPM]
                          example: TPM
  /variant:
    get:
      tags:
        - reference
      summary: Metadata for one or more variants
      description: Fetch information for one or more variants
      parameters:
        - name: variantId
          in: query
          description: Variant ID
          required: true
          schema:
            type: array
            items:
              type: string
            example: [chr10:100826333, chr10:100955984]
          style: form
          explode: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  variant:
                    type: array
                    items:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: T
                        chromosome:
                          type: string
                          example: chr10
                        pos:
                          type: integer
                          example: 100826333
                        ref:
                          type: string
                          example: C
                        variantId:
                          type: string
                          example: chr10:100826333
  /xqtl:
    get:
      tags:
        - xQTL
      summary: Conditionally independent cis-xQTLs by gene
      description: Fetch conditionally independent cis-xQTLs in any tissue for a gene
      parameters:
        - name: geneId
          in: query
          description: Gene ID
          required: true
          schema:
            type: string
            example: Cd300lf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  xqtl:
                    type: array
                    items:
                      type: object
                      properties:
                        alt:
                          type: string
                          example: A
                        geneId:
                          type: string
                          example: Cd300lf
                        modality:
                          type: string
                          example: splicing
                        pValueBeta:
                          type: number
                          example: 3.72035e-15
                        phenotypeId:
                          type: string
                          example: Cd300lf__chr10_100862967_100866541_clu_7827_-
                        ref:
                          type: string
                          example: G
                        tissueSiteDetailId:
                          type: string
                          example: pVTA
                        variantId:
                          type: string
                          example: chr10:101009133
